In [1]:
# create entry points to spark
try:
    sc.stop()
except:
    pass
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
sc=SparkContext()
spark = SparkSession(sparkContext=sc)

In [2]:
mtcars=spark.read.csv('mtcars.csv',inferSchema=True,header=True)
mtcars.show(5)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|            model| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

## Boolean Column expression

Create a column expression that returns **boolean values**

## between()

In [3]:
gear_col=mtcars.gear.between(1,3)
gear_col

Column<b'((gear >= 1) AND (gear <= 3))'>

In [4]:
mtcars.select(mtcars.gear,gear_col).show(5)

+----+-----------------------------+
|gear|((gear >= 1) AND (gear <= 3))|
+----+-----------------------------+
|   4|                        false|
|   4|                        false|
|   4|                        false|
|   3|                         true|
|   3|                         true|
+----+-----------------------------+
only showing top 5 rows

## contains()

In [5]:
model_col=mtcars.model.contains('Ho')
model_col

Column<b'contains(model, Ho)'>

In [6]:
mtcars.select(mtcars.model,model_col).show(5)

+-----------------+-------------------+
|            model|contains(model, Ho)|
+-----------------+-------------------+
|        Mazda RX4|              false|
|    Mazda RX4 Wag|              false|
|       Datsun 710|              false|
|   Hornet 4 Drive|               true|
|Hornet Sportabout|               true|
+-----------------+-------------------+
only showing top 5 rows

## endswith()

In [7]:
model_col=mtcars.model.endswith('t')
model_col

Column<b'endswith(model, t)'>

In [8]:
mtcars.select(mtcars.model,model_col).show(5)

+-----------------+------------------+
|            model|endswith(model, t)|
+-----------------+------------------+
|        Mazda RX4|             false|
|    Mazda RX4 Wag|             false|
|       Datsun 710|             false|
|   Hornet 4 Drive|             false|
|Hornet Sportabout|              true|
+-----------------+------------------+
only showing top 5 rows

## startswith()

In [9]:
model_col=mtcars.model.startswith('M')
model_col

Column<b'startswith(model, M)'>

In [10]:
mtcars.select(mtcars.model,model_col).show(5)

+-----------------+--------------------+
|            model|startswith(model, M)|
+-----------------+--------------------+
|        Mazda RX4|                true|
|    Mazda RX4 Wag|                true|
|       Datsun 710|               false|
|   Hornet 4 Drive|               false|
|Hornet Sportabout|               false|
+-----------------+--------------------+
only showing top 5 rows

## isNotNull()

In [14]:
from pyspark.sql import Row
df=spark.createDataFrame([Row(name='Tom',height=5.8),Row(name='Alice',height=None)])
df.show()

+------+-----+
|height| name|
+------+-----+
|   5.8|  Tom|
|  null|Alice|
+------+-----+

In [15]:
height_isNotNull = df.height.isNotNull()
height_isNotNull

Column<b'(height IS NOT NULL)'>

In [17]:
df.select(df.height,height_isNotNull).show(5)

+------+--------------------+
|height|(height IS NOT NULL)|
+------+--------------------+
|   5.8|                true|
|  null|               false|
+------+--------------------+

## isNull()

In [18]:
height_isNull = df.height.isNull()
height_isNull

Column<b'(height IS NULL)'>

In [20]:
df.select(df.height,height_isNull).show(5)

+------+----------------+
|height|(height IS NULL)|
+------+----------------+
|   5.8|           false|
|  null|            true|
+------+----------------+

## isin()

In [21]:
carb_isin = mtcars.carb.isin([2, 3])
carb_isin

Column<b'(carb IN (2, 3))'>

In [22]:
mtcars.select(mtcars.carb,carb_isin).show(5)

+----+----------------+
|carb|(carb IN (2, 3))|
+----+----------------+
|   4|           false|
|   4|           false|
|   1|           false|
|   1|           false|
|   2|            true|
+----+----------------+
only showing top 5 rows

## like()

In [23]:
model_like = mtcars.model.like('Ho%')
model_like

Column<b'model LIKE Ho%'>

In [24]:
mtcars.select(mtcars.model,model_like).show(5)

+-----------------+--------------+
|            model|model LIKE Ho%|
+-----------------+--------------+
|        Mazda RX4|         false|
|    Mazda RX4 Wag|         false|
|       Datsun 710|         false|
|   Hornet 4 Drive|          true|
|Hornet Sportabout|          true|
+-----------------+--------------+
only showing top 5 rows

## rlike()

true if the column value matches with the pattern based on SQL like (Regex like)

In [25]:
model_rlike = mtcars.model.rlike('t$')
model_rlike

Column<b'model RLIKE t$'>

In [27]:
mtcars.select(mtcars.model,model_rlike).show(10)

+-----------------+--------------+
|            model|model RLIKE t$|
+-----------------+--------------+
|        Mazda RX4|         false|
|    Mazda RX4 Wag|         false|
|       Datsun 710|         false|
|   Hornet 4 Drive|         false|
|Hornet Sportabout|          true|
|          Valiant|          true|
|       Duster 360|         false|
|        Merc 240D|         false|
|         Merc 230|         false|
|         Merc 280|         false|
+-----------------+--------------+
only showing top 10 rows