In [1]:
# create entry points to spark
try:
    sc.stop()
except:
    pass
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
sc=SparkContext()
spark = SparkSession(sparkContext=sc)

In [2]:
mtcars=spark.read.csv('mtcars.csv',inferSchema=True,header=True)
mtcars.show(5)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|            model| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

### Using dot(.) to select a column in the dataframe

In [3]:
col=mtcars.mpg
col

Column<b'mpg'>

### modify column to generate new column

In [4]:
col+1

Column<b'(mpg + 1)'>

In [6]:
mtcars.select(col*10).show()

+----------+
|(mpg * 10)|
+----------+
|     210.0|
|     210.0|
|     228.0|
|     214.0|
|     187.0|
|     181.0|
|     143.0|
|     244.0|
|     228.0|
|     192.0|
|     178.0|
|     164.0|
|     173.0|
|     152.0|
|     104.0|
|     104.0|
|     147.0|
|     324.0|
|     304.0|
|     339.0|
+----------+
only showing top 20 rows

The **pyspark.sql.Column** has many methods to perform on columns and returns a column instance

In [7]:
mtcars.select(mtcars.gear.isin([2,3])).show()

+----------------+
|(gear IN (2, 3))|
+----------------+
|           false|
|           false|
|           false|
|            true|
|            true|
|            true|
|            true|
|           false|
|           false|
|           false|
|           false|
|            true|
|            true|
|            true|
|            true|
|            true|
|            true|
|           false|
|           false|
|           false|
+----------------+
only showing top 20 rows

In [8]:
mtcars.mpg.asc()

Column<b'mpg ASC NULLS FIRST'>