In [1]:
try:
    sc.stop()
except:
    pass
from pyspark import SparkConf,SparkContext
from pyspark.sql import SparkSession
sc=SparkContext()
spark=SparkSession(sc)

## Load the data

In [2]:
mtcars=spark.read.csv('mtcars.csv',inferSchema=True,header=True)
mtcars.show(5)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|            model| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

## Change the column names

In [3]:
columns=['x_'+x for x in mtcars.columns]
columns

['x_model',
 'x_mpg',
 'x_cyl',
 'x_disp',
 'x_hp',
 'x_drat',
 'x_wt',
 'x_qsec',
 'x_vs',
 'x_am',
 'x_gear',
 'x_carb']

In [4]:
#change the colmns in the dataframe
mtcars_df=mtcars.rdd.toDF(columns)
mtcars_df.show(5)

/Users/shivaganesh/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/shivaganesh/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

+-----------------+-----+-----+------+----+------+-----+------+----+----+------+------+
|          x_model|x_mpg|x_cyl|x_disp|x_hp|x_drat| x_wt|x_qsec|x_vs|x_am|x_gear|x_carb|
+-----------------+-----+-----+------+----+------+-----+------+----+----+------+------+
|        Mazda RX4| 21.0|    6| 160.0| 110|   3.9| 2.62| 16.46|   0|   1|     4|     4|
|    Mazda RX4 Wag| 21.0|    6| 160.0| 110|   3.9|2.875| 17.02|   0|   1|     4|     4|
|       Datsun 710| 22.8|    4| 108.0|  93|  3.85| 2.32| 18.61|   1|   1|     4|     1|
|   Hornet 4 Drive| 21.4|    6| 258.0| 110|  3.08|3.215| 19.44|   1|   0|     3|     1|
|Hornet Sportabout| 18.7|    8| 360.0| 175|  3.15| 3.44| 17.02|   0|   0|     3|     2|
+-----------------+-----+-----+------+----+------+-----+------+----+----+------+------+
only showing top 5 rows

## Write the data

In [5]:
from pyspark.sql import DataFrameWriter

Before we write into the file,we need to coalesce into one partition,otherwise different files will be created.

In [7]:
mtcars_df=mtcars_df.coalesce(1)

In [8]:
mtcars_df.write.csv('saved-mtcars',header=True)