In [1]:
#data entry point
try:
    sc.stop()
except:
    pass
from pyspark import SparkConf,SparkContext
from pyspark.sql import SparkSession
sc=SparkContext()
spark=SparkSession(sc)

## *pyspark.sql.functions* Functions

*pyspark.sql.functions* has many built-in functions to manipulate dataframe and dataframe columns.Some of the functions are listed below:

In [3]:
from pyspark.sql import functions as F

### abs():Column expression that returns absolute value of the column

In [4]:
from pyspark.sql import Row
df=sc.parallelize([Row(x=1),Row(x=-1),Row(x=-2)]).toDF()
df.show()

/Users/shivaganesh/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/shivaganesh/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

+---+
|  x|
+---+
|  1|
| -1|
| -2|
+---+

In [5]:
abs_col=F.abs(df.x)
abs_col

Column<b'abs(x)'>

In [6]:
df.select(df.x,abs_col).show()

+---+------+
|  x|abs(x)|
+---+------+
|  1|     1|
| -1|     1|
| -2|     2|
+---+------+

### concat(): Column expression concatenates multiple column values

In [7]:
df=sc.parallelize([Row(x='Apple',y='Tree'),Row(x='Water',y='Bottle')]).toDF()
df.show()

+-----+------+
|    x|     y|
+-----+------+
|Apple|  Tree|
|Water|Bottle|
+-----+------+

In [8]:
concat_col=F.concat(df.x,df.y)
concat_col

Column<b'concat(x, y)'>

In [9]:
df.select(df.x,df.y,concat_col).show()

+-----+------+------------+
|    x|     y|concat(x, y)|
+-----+------+------------+
|Apple|  Tree|   AppleTree|
|Water|Bottle| WaterBottle|
+-----+------+------------+

### corr(): Column expression that gives the pearson correlation between two columns

In [10]:
df=sc.parallelize([Row(x=0.2,y=250),Row(x=0.5,y=600),Row(x=0.8,y=1000)]).toDF()
df.show()

+---+----+
|  x|   y|
+---+----+
|0.2| 250|
|0.5| 600|
|0.8|1000|
+---+----+

In [11]:
corr_col=F.corr(df.x,df.y)
corr_col

Column<b'corr(x, y)'>

In [13]:
df.select(corr_col).show()

+------------------+
|        corr(x, y)|
+------------------+
|0.9992600812897369|
+------------------+

### array(): Column expression that merges multiple column values into an array

In [14]:
mtcars=spark.read.csv('mtcars.csv',inferSchema=True,header=True)
mtcars.show(5)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|            model| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

In [16]:
columns=[eval('mtcars.'+i) for i in mtcars.columns[1:]]

In [17]:
array_cols=F.array(columns)
array_cols

Column<b'array(mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb)'>

In [21]:
mtcars.select(array_cols).show(truncate=False)

+-----------------------------------------------------------------+
|array(mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb)    |
+-----------------------------------------------------------------+
|[21.0, 6.0, 160.0, 110.0, 3.9, 2.62, 16.46, 0.0, 1.0, 4.0, 4.0]  |
|[21.0, 6.0, 160.0, 110.0, 3.9, 2.875, 17.02, 0.0, 1.0, 4.0, 4.0] |
|[22.8, 4.0, 108.0, 93.0, 3.85, 2.32, 18.61, 1.0, 1.0, 4.0, 1.0]  |
|[21.4, 6.0, 258.0, 110.0, 3.08, 3.215, 19.44, 1.0, 0.0, 3.0, 1.0]|
|[18.7, 8.0, 360.0, 175.0, 3.15, 3.44, 17.02, 0.0, 0.0, 3.0, 2.0] |
|[18.1, 6.0, 225.0, 105.0, 2.76, 3.46, 20.22, 1.0, 0.0, 3.0, 1.0] |
|[14.3, 8.0, 360.0, 245.0, 3.21, 3.57, 15.84, 0.0, 0.0, 3.0, 4.0] |
|[24.4, 4.0, 146.7, 62.0, 3.69, 3.19, 20.0, 1.0, 0.0, 4.0, 2.0]   |
|[22.8, 4.0, 140.8, 95.0, 3.92, 3.15, 22.9, 1.0, 0.0, 4.0, 2.0]   |
|[19.2, 6.0, 167.6, 123.0, 3.92, 3.44, 18.3, 1.0, 0.0, 4.0, 4.0]  |
|[17.8, 6.0, 167.6, 123.0, 3.92, 3.44, 18.9, 1.0, 0.0, 4.0, 4.0]  |
|[16.4, 8.0, 275.8, 180.0, 3.07, 4.07, 17.4, 0.0, 0.0, 3.0, 3.0]  |
|[17.3, 8.0, 275.8, 180.0, 3.07, 3.73, 17.6, 0.0, 0.0, 3.0, 3.0]  |
|[15.2, 8.0, 275.8, 180.0, 3.07, 3.78, 18.0, 0.0, 0.0, 3.0, 3.0]  |
|[10.4, 8.0, 472.0, 205.0, 2.93, 5.25, 17.98, 0.0, 0.0, 3.0, 4.0] |
|[10.4, 8.0, 460.0, 215.0, 3.0, 5.424, 17.82, 0.0, 0.0, 3.0, 4.0] |
|[14.7, 8.0, 440.0, 230.0, 3.23, 5.345, 17.42, 0.0, 0.0, 3.0, 4.0]|
|[32.4, 4.0, 78.7, 66.0, 4.08, 2.2, 19.47, 1.0, 1.0, 4.0, 1.0]    |
|[30.4, 4.0, 75.7, 52.0, 4.93, 1.615, 18.52, 1.0, 1.0, 4.0, 2.0]  |
|[33.9, 4.0, 71.1, 65.0, 4.22, 1.835, 19.9, 1.0, 1.0, 4.0, 1.0]   |
+-----------------------------------------------------------------+
only showing top 20 rows