## Dataframe operations on columns

In [1]:
try:
    sc.stop()
except:
    pass
from pyspark import SparkConf,SparkContext
from pyspark.sql import SparkSession
sc=SparkContext()
spark=SparkSession(sc)

#### Load the data

In [2]:
mtcars=spark.read.csv('mtcars.csv',inferSchema=True,header=True)
mtcars.show()

+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|              model| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|          Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|      Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|         Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|     Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|  Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
|            Valiant|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|
|         Duster 360|14.3|  8|360.0|245|3.21| 3.57|15.84|  0|  0|   3|   4|
|          Merc 240D|24.4|  4|146.7| 62|3.69| 3.19| 20.0|  1|  0|   4|   2|
|           Merc 230|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|
|           Merc 280|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|
|          Merc 280C|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|
|         Merc 450SE|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|
|         Merc 450SL|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|
|        Merc 450SLC|15.2|  8|275.8|180|3.07| 3.78| 18.0|  0|  0|   3|   3|
| Cadillac Fleetwood|10.4|  8|472.0|205|2.93| 5.25|17.98|  0|  0|   3|   4|
|Lincoln Continental|10.4|  8|460.0|215| 3.0|5.424|17.82|  0|  0|   3|   4|
|  Chrysler Imperial|14.7|  8|440.0|230|3.23|5.345|17.42|  0|  0|   3|   4|
|           Fiat 128|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|
|        Honda Civic|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|
|     Toyota Corolla|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 20 rows

### Select columns by name

In [5]:
mtcars.select(['model','mpg']).show()

+-------------------+----+
|              model| mpg|
+-------------------+----+
|          Mazda RX4|21.0|
|      Mazda RX4 Wag|21.0|
|         Datsun 710|22.8|
|     Hornet 4 Drive|21.4|
|  Hornet Sportabout|18.7|
|            Valiant|18.1|
|         Duster 360|14.3|
|          Merc 240D|24.4|
|           Merc 230|22.8|
|           Merc 280|19.2|
|          Merc 280C|17.8|
|         Merc 450SE|16.4|
|         Merc 450SL|17.3|
|        Merc 450SLC|15.2|
| Cadillac Fleetwood|10.4|
|Lincoln Continental|10.4|
|  Chrysler Imperial|14.7|
|           Fiat 128|32.4|
|        Honda Civic|30.4|
|     Toyota Corolla|33.9|
+-------------------+----+
only showing top 20 rows

### Select columns by index

In [6]:
mtcars.select(mtcars.columns[0:3]).show()

+-------------------+----+---+
|              model| mpg|cyl|
+-------------------+----+---+
|          Mazda RX4|21.0|  6|
|      Mazda RX4 Wag|21.0|  6|
|         Datsun 710|22.8|  4|
|     Hornet 4 Drive|21.4|  6|
|  Hornet Sportabout|18.7|  8|
|            Valiant|18.1|  6|
|         Duster 360|14.3|  8|
|          Merc 240D|24.4|  4|
|           Merc 230|22.8|  4|
|           Merc 280|19.2|  6|
|          Merc 280C|17.8|  6|
|         Merc 450SE|16.4|  8|
|         Merc 450SL|17.3|  8|
|        Merc 450SLC|15.2|  8|
| Cadillac Fleetwood|10.4|  8|
|Lincoln Continental|10.4|  8|
|  Chrysler Imperial|14.7|  8|
|           Fiat 128|32.4|  4|
|        Honda Civic|30.4|  4|
|     Toyota Corolla|33.9|  4|
+-------------------+----+---+
only showing top 20 rows

In [7]:
indices=[0,2,4,5,6]
selected_columns=[mtcars.columns[i] for i in indices]
selected_columns

['model', 'cyl', 'hp', 'drat', 'wt']

In [8]:
mtcars.select(selected_columns).show(5)

+-----------------+---+---+----+-----+
|            model|cyl| hp|drat|   wt|
+-----------------+---+---+----+-----+
|        Mazda RX4|  6|110| 3.9| 2.62|
|    Mazda RX4 Wag|  6|110| 3.9|2.875|
|       Datsun 710|  4| 93|3.85| 2.32|
|   Hornet 4 Drive|  6|110|3.08|3.215|
|Hornet Sportabout|  8|175|3.15| 3.44|
+-----------------+---+---+----+-----+
only showing top 5 rows

### Select columns by pattern

In [10]:
import re
selected_columns=[x for x in mtcars.columns if re.compile('^d').match(x) is not None]
selected_columns

['disp', 'drat']

In [11]:
mtcars.select(selected_columns).show(5)

+-----+----+
| disp|drat|
+-----+----+
|160.0| 3.9|
|160.0| 3.9|
|108.0|3.85|
|258.0|3.08|
|360.0|3.15|
+-----+----+
only showing top 5 rows